cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.13.2
Click==7.0
cloudpickle==1.2.2
cssselect2==0.2.2
defusedxml==0.6.0
doit==0.31.1
future==0.18.2
grizzled-python==2.2.0
html5lib==1.0.1
livereload==2.6.1
panflute==1.11.2
Pillow==6.2.1
pycparser==2.19
pyinotify==0.9.6
Pyphen==0.9.5
pytest-runner==5.2
PyYAML==5.1.2
setuptools-scm==3.3.3
shutilwhich==1.1.0
six==1.12.0
tinycss2==1.0.2
tornado==6.0.3
WeasyPrint==50
webencodings==0.5.1
