*.iml
/.idea
/tmp
csound_flossmanual.pdf
csound_flossmanual.epub
csound_flossmanual.odt
csound-floss-export*
html2pdf*.html
__pycache__
/.direnv
.envrc
.mypy_cache
*~
*#
build
.firebase
node_modules
src/book_fragments/*
python-env
*.log
