language: nix
sudo: required
os:
- linux
env:
  global:
    - NIX_PATH=nixpkgs=https://github.com/NixOS/nixpkgs-channels/archive/nixos-19.09.tar.gz
install:
- nix-shell nix/shell.nix --run 'exit 0' # just install and exit to prevent filling memory
script:
- yarn
- yarn build

deploy:
  skip_cleanup: true
  provider: firebase
  token:
    secure: "boHObtAb1v3vkcIUeIMowuddSbbO1NQi6BCsFXVlS1GDKEtSaSAACj9qS5WotfCad/NtnCVnY8XhkyyJP2b7fQz7ZqyicYREQeGTqgGQ5AHMqphJnmMGKsDT29XnpIZ8KP2QuUfPA1q7we/cTAG9Lam4n+kKDUJtEo7N3y682J/qQG4TxC8YknCmwcwyDdqvE+rAoM53at/ypycprpWY+o9tX4cJGQ8QK6nZh61D4V/nmlsY3yUlW/uwfQ0WtUPGzkrSpSZl4Dlg82ixD0TW8T6pGvUgdHfWkyIS3rqhvczGLXjQTh/BnOtbGZIWoBavpq52PBKyBTsky8DN6hFKLm34s1wDJWEm/SvFqKTkoTbPYddWtFUh56Lf7X9FcYcd6pb1uSIn3m+LWL61vOUEfmLxznevNlJl9C9FsSLV3CZF/760qOLqT+isCI3NWWKhLbRZvYsohyp+2kCxNwTubLjAmZM39o7kp8f5WoGsfiGn1aWmR7KqubIUHjfKRS3hLz5a4fVeF9YGKoGeZNzLjB69Df2c3RlemYhOEXkAmpCNnjg7j5Ii/4eT0Xgij6DNsWpYSkxhb5XuWTYiDiWX41vleoHsUti6svIG55ksIeKIHYnRkcc43Dwsf+6/uLhM0DwY89JtD++nR5M7GC+hmquJoOa/1BK7VPe9d44P3rg="
