/* ==========================================================================
   Typography
   ========================================================================== */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "roboto-condensed";
}

h1 {
  font-size: 42px;
  text-align: left;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  padding-top: 31.5pt;
  margin-bottom: 31.5pt;
  line-height: 1.1em;
}

h2 {
  border-bottom: none;
  color: #444444;
  font-size: 36px;
  line-height: 130%;
  margin: 0.4em 0;
  margin-top: 32px;
  padding: 0;
}

h3 {
  border-bottom: none;
  color: #444444;
  font-size: 28px;
  line-height: 130%;
  margin: 0.4em 0;
  margin-top: 26px;
  padding: 0;
}

h4 {
  border-bottom: none;
  color: #444444;
  font-size: 20px;
  line-height: 130%;
  margin: 0.4em 0;
  margin-top: 16px;
  padding: 0;
}

p {
  text-align: left;
  line-height: 160%;
  margin: 0;
  padding: 0;
  margin-top: 12px;
}

strong {
  font-weight: 700;
}

strong > em {
  margin-top: 24px;
  display: inline-block;
}

div.left {
  margin-top: 1em;
  text-indent: 0;
  text-align: left;
}

div.center {
  margin-top: 1em;
  text-indent: 0;
  text-align: center;
}

div.right {
  margin-top: 1em;
  text-indent: 0;
  text-align: right;
}

div.sep {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 200%;
}

h1.title {
  text-align: center;
}

h1.subtitle {
  font-style: italic;
  text-align: center;
}

h2.author {
  text-align: center;
  padding-bottom: 2em;
}

#toc {
  padding-bottom: 2em;
  border-bottom: 1px solid #aaa;
}

figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-style: italic;
}

figure figcaption {
  font-style: italic;
  font-size: smaller;
  margin: 12px 0;
}

dt > img,
p > img {
  display: block;
  margin: 24px auto;
}

div#cover-image {
  width: 100%;
  margin-bottom: 3em;
  padding-bottom: 3em;
  border-bottom: 1px solid #aaa;
}

div#cover-image img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#section_preface {
  margin-top: 120px;
}

section {
  margin-right: auto;
  margin-left: auto;
  padding: 50px !important;
  background-color: #fff !important;
  margin-bottom: 20px;
  border-radius: 2px;
}

.indent {
  text-indent: +2em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a {
  color: #e55b00;
  text-decoration: none;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
}

ul {
  padding-left: 30px;
}

ol {
  padding-left: 30px;
}

ol li ul:first-of-type {
  margin-top: 0;
}

li {
  margin-bottom: 3px;
}

.indent {
  text-indent: +2em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

q {
  quotes: "\201C""\201D""\2018""\2019";
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

blockquote {
  border-left: 4px solid #ddd;
  padding: 0 15px;
  color: #777;
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  margin: 15px 0;
}

table th {
  font-weight: bold;
  border: 1px solid black;
  padding: 6px 13px;
}
table td {
  border: 1px solid black;
  padding: 6px 13px;
}

img {
  border: 0;
  max-width: 100%;
}

code,
tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
  color: #333;
}
pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: 0;
  background: transparent;
}
.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
pre code,
pre tt {
  background-color: transparent;
  border: 0;
}

@media print {
  body {
    background: #fff;
  }
  img,
  pre,
  blockquote,
  table,
  figure {
    page-break-inside: avoid;
  }
  body {
    background: #fff;
    border: 0;
  }
  code {
    background-color: #fff;
    color: #333 !important;
    padding: 0 0.2em;
    border: 1px solid #dedede;
  }
  pre {
    background: #fff;
  }
  pre code {
    background-color: white !important;
    overflow: visible;
  }
}
@media screen {
  body.inverted {
    color: #eee !important;
    border-color: #555;
    box-shadow: none;
  }
  .inverted body,
  .inverted hr .inverted p,
  .inverted td,
  .inverted li,
  .inverted h1,
  .inverted h2,
  .inverted h3,
  .inverted h4,
  .inverted h5,
  .inverted h6,
  .inverted th,
  .inverted .math,
  .inverted caption,
  .inverted dd,
  .inverted dt,
  .inverted blockquote {
    color: #eee !important;
    border-color: #555;
    box-shadow: none;
  }
  .inverted td,
  .inverted th {
    background: #333;
  }
  .inverted h2 {
    border-color: #555;
  }
  .inverted hr {
    border-color: #777;
    border-width: 1px !important;
  }
  ::selection {
    background: rgba(157, 193, 200, 0.5);
  }
  h1::selection {
    background-color: rgba(45, 156, 208, 0.3);
  }
  h2::selection {
    background-color: rgba(90, 182, 224, 0.3);
  }
  h3::selection,
  h4::selection,
  h5::selection,
  h6::selection,
  li::selection,
  ol::selection {
    background-color: rgba(133, 201, 232, 0.3);
  }
  code::selection {
    background-color: rgba(0, 0, 0, 0.7);
    color: #eee;
  }
  code span::selection {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #eee !important;
  }
  a::selection {
    background-color: rgba(255, 230, 102, 0.2);
  }
  .inverted a::selection {
    background-color: rgba(255, 230, 102, 0.6);
  }
  td::selection,
  th::selection,
  caption::selection {
    background-color: rgba(180, 237, 95, 0.5);
  }
  .inverted {
    background: #0b2531;
    background: #252a2a;
  }
  .inverted body {
    background: #252a2a;
  }
  .inverted a {
    color: #acd1d5;
  }
}
