/* This defines styles and classes used in the book */
body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: justify;
    font-size: medium;
}

/*
  Classic paragraph: First line indented, no vertical space between paragraphs.
*/
p {
    text-indent: +2em;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0.125pt;
}
